@charset "UTF-8";


*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

div.main-inner{
    width: 175rem;
    margin: 0 auto;
}

div.thumb-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}











